# Virtual environment
venv/
.venv/
env/

# Python compilation files
__pycache__/
*.py[cod]

# VScode preset
.vscode/

# Model files
lora_model/
LoRA_model_llama3.1/
outputs/
*.pth
*.bin
*.gguf
*.zip

# Colab specific
sample_data/

# IDE settings
.idea/



